/*CSS Reset*/
*{
    margin: 0px;
    padding: 0px;
}
/* Navigation Bar Styling*/
#logo{
    background-color: #14146a;
    width: 86px;
    height: 43px;
    display: flex;
    align-items: center;
    color:rgb(124, 124, 167);
    font-weight: bold;
}
#container1{
    display: flex;
    align-items: center;
    height: 41px;
}
#navbar{
    background-color: #14146a;
    height: 43px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
#navbar ul{
    display: flex;
    align-items: center;
}
#navbar ul a{
    text-decoration: none;
    margin: 0px 20px;
    font-size: 20px;
    color: rgb(124, 124, 167);
    font-weight: bold;
}
#navbar ul li{
    list-style: none;
}
#logo img{
    height: 40px;
    width: 51px;
}
/*navigation bar with pseudo selectors*/
#navbar li a:hover{
    color: blue;
    background-color: lightblue;
    border-radius: 5px;
}
#navbar li a:active{
    color: blue;
    background-color: rgb(212, 153, 42);
    border-radius: 5px;
}
/*footer styling*/
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22px;
    background-color: #14146a;
    color: rgb(160, 160, 187);
}
/*section styling*/
#sectiona1{
    background-color: rgb(161, 154, 212);
}
#sectiona1 h1{
    padding-top: 7px;
    color: #14146a;
    text-align: center;
    text-shadow: 2px 2px white;
}
#diva{
    display: flex;
}
.diva1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(110, 110, 189);
    margin: 2px;
}
.diva1 p{
    text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 1600px){
    #diva{
        flex-direction: column;
    }
}
