doctype html 
html 
 head 
  title ShanoufScienceAcademy 
  block style
 body 
  div#container1
   div#logo 
    img(src="/static/images/logo.jpg", alt="Logo")
    | SSA
   nav#navbar 
    ul 
     li #[a(href="/") Home]
     li #[a(href="/about") About Us] 
     li #[a(href="/form") Form] 
  block content
  footer#footer Copyright © 2021 ShanoufScienceAcademy | All Rights Reserved
    
 
     
       