extends base.pug
block style 
 style 
  include ../stylesheet/home.css 
block content
 section#sectionh1
  p Welcome To The World Of Science And Innovation 
  p Achieve The Best You Can Only With Shanouf Science Academy
 section#sectionh2 
  div#divh 
   img(src="/static/images/homebuildingphoto.jpg", alt="Our Campus")
   div#hin 
    h1#hh Our Campus 
    p#pp Our Campus is the best campus in the world. All the facilities are available on our campus. We have different types of labs like chemistry lab, physics lab, biology lab along with various other important parts of the necessities a student requires on the campus. We are the best in what we are doing, No one can beat us. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia illo nesciunt quasi! Laborum vero illo quisquam eligendi incidunt sapiente mollitia recusandae, quidem nulla libero eos repudiandae, natus rem accusamus officiis voluptatibus eum nihil dicta rerum praesentium adipisci? Ad natus ex hic libero maiores laboriosam sint adipisci voluptatibus eligendi. Ad rem nisi quae cum doloremque mollitia ratione eos atque, tenetur totam? Ipsum aperiam libero, eligendi atque amet explicabo et corrupti accusantium odio. Explicabo illum modi mollitia perferendis dolore, nobis asperiores natus ut est eligendi, ratione repellendus reiciendis repudiandae rem dolor doloremque doloribus nulla, corporis ipsum. Dolores repellat rerum sunt fugiat magnam!
 section#sectionh3 
  h1 Our Sponsors 
  div#hend 
   img(src="/static/images/sponsor2.png")
   img(src="/static/images/sponsor1.png")
   img(src="/static/images/sponsor3.png")   